<?xml version="1.0" encoding="UTF-8"?>
<!--设置log4j2的自身log级别为info-->
<configuration status="INFO" monitorInterval="10">
    <appenders>
        <!--临时日志打印信息，这个log每次运行程序会自动清空，由append属性决定，适合临时测试用-->
        <File name="TmpLog" fileName="/opt/test/log/rpc_tmp.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%t] (%C.%M:%L) - %m%n"/>
        </File>
        <RollingFile name="TmpSqlLog" fileName="/opt/test/log/tomcat/standalone_sql.log" filePattern="/opt/test/log/tomcat/$${date:yyyy-MM-dd}/standalone_sql-%d{yyyy-MM-dd}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%t] (%C.%M:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20 -->
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <RollingFile name="RollingFileInfo" fileName="/opt/test/log/tomcat/standalone.log" filePattern="/opt/test/log/tomcat/$${date:yyyy-MM-dd}/standalone-%d{yyyy-MM-dd}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%t] (%C.%M:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20 -->
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <RollingFile name="RollingFileError" fileName="/opt/test/log/tomcat/standalone_error.log" filePattern="/opt/test/log/tomcat/$${date:yyyy-MM-dd}/standalone_error-%d{yyyy-MM-dd}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%t] (%C.%M:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20 -->
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </appenders>
    <loggers>
        <!--过滤SQL语句执行信息-->
        <!--
		<Logger name="com.nsfocus.dao" level="DEBUG" additivity="false">
		    <AppenderRef ref="TmpSqlLog"/>
		</Logger>
		-->
		<!--过滤特定日志信息-->
		<!--
		<Logger name="com.nsfocus.service" level="DEBUG" additivity="false">
            <AppenderRef ref="TmpLog"/>
        </Logger>
		-->
        <!--过滤掉无用信息-->
        <logger name="org.springframework" level="ERROR"/>
        <logger name="com.alibaba.dubbo" level="ERROR"/>
        <logger name="com.alibaba.dubbo.monitor" level="FATAL"/>
        <logger name="org.apache.zookeeper" level="ERROR"/>
        <logger name="org.apache.curator" level="ERROR"/>
        <logger name="org.apache.ignite" level="ERROR"/>
        <logger name="kafka" level="ERROR"/>
        <logger name="com.nsfocus.flume.runner" level="ERROR"/>
        <root level="ALL">
            <appender-ref ref="RollingFileInfo"/>
            <appender-ref ref="RollingFileError"/>
        </root>
    </loggers>
</configuration>